 /* Section */

 .section__lightblue {
     background-color: var(--color-bg-bluecard);

 }

 .btn__table {
     margin: 0 auto;
     display: block;
 }

 .tarifs {
     margin-bottom: 24px;
 }

 .tarifs__discription {
     font-family: Inter;
     font-size: 17px;
     font-weight: 500;
     line-height: 23.8px;
     text-align: center;
     color: var(--color-text-discription);
     margin-bottom: 40px;

 }

 .wrapper {
     display: flex;
 }

 .width_cards {
        display: flex;
        justify-content: center;
 }
 .tarifs__card {
     display: flex;
     flex-direction: column;
     width: 369px;
     height: 507px;
     background-color: var(--color-bg-whitecard);
     box-shadow: 0px 0px 32px 0px #4E5D7C29;
     border-radius: 8px;
     text-align: left;
     justify-content: center;
     padding: 48px 40px;
 }

 .tarifs__card_year {
     display: flex;
     flex-direction: column;
     width: 369px;
     height: 507px;
     background-color: var(--color-bg-bluecard);
     box-shadow: 0px 0px 32px 0px #4E5D7C29;
     border-radius: 8px;
     text-align: left;
     justify-content: center;
     padding: 48px 40px;
     color: #FFFFFF;
 }

 .tarifs__card_mounth {

     margin-bottom: 16px;
     text-align: left;
 }

 .tarifs_card_awaysale {
     margin-top: 46px;
 }

 .tarifs__card_prices {
     display: flex;
     flex-direction: column;
     gap: 16px;
 }

 .tarifs__card_prices_main {
     border-bottom: 1px solid rgba(78, 93, 124, 0.08);
     padding-bottom: 16px;

 }

 .tarifs__card_prices_discount {
     border-bottom: 1px solid rgba(78, 93, 124, 0.08);
     padding-bottom: 16px;
 }

 .tarifs__card_prices_discount span {
     width: 99px;
     height: 36px;
     border-radius: 8px;
     background: #FFC736;
     font-family: Inter;
     font-size: 17px;
     font-weight: 700;
     line-height: 20.4px;
     text-align: center;
     padding: 8px 16px;
     color: #FFF;
 }

 .tarifs__card_prices_discount_bluecard span {
     width: 99px;
     height: 36px;
     border-radius: 8px;
     background: #FFC736;
     font-family: Inter;
     font-size: 17px;
     font-weight: 700;
     line-height: 20.4px;
     text-align: center;
     padding: 8px 16px;
 }

 .tarifs__card_prices_main_bluecard {
     border-bottom: 1px solid rgba(255, 255, 255, 0.16);
     padding-bottom: 16px;
 }

 .tarifs__card_prices_discount_bluecard {
     border-bottom: 1px solid rgba(255, 255, 255, 0.16);
     padding-bottom: 16px;
 }

 .tarifs__card_button {
     background: #357EFE;
     border-radius: 47px;
     border: none;
     font-family: Inter;
     font-size: 17px;
     font-weight: 800;
     line-height: 23.8px;
     color: #FFFFFF;
     padding: 12px 63.5px;
     margin-top: 40px;
 }

 .tarifs__card_button_bluecard {
     background: #FFF;
     border-radius: 47px;
     border: none;
     font-family: Inter;
     font-size: 17px;
     font-weight: 800;
     line-height: 23.8px;
     color: #357EFE;
     padding: 12px 63.5px;
     margin-top: 34px;
 }

 .tarifs__card_discription {
     font-family: Inter;
     font-size: 17px;
     font-weight: 500;
     line-height: 23.8px;
     text-align: left;
     color: var(--color-text-discription);
     margin-bottom: 50px;
 }

 .tarifs__card_discription_bluecard {
     font-family: Inter;
     font-size: 17px;
     font-weight: 500;
     line-height: 23.8px;
     text-align: left;
     color: var(--color-text-discription-bluecard);
     margin-bottom: 32px;
 }

 .tarifs_card_benefit {
     width: 124px;
     height: 29px;
     border-radius: 8px;
     background: #1ABC9C;
     color: #FFF;
     text-align: center;
     font-family: Inter;
     font-size: 15px;
     font-weight: 500;
     line-height: 21px;
     padding: 4px;
     margin-bottom: 16px;
 }

 .tarifs_card_benefit span {
     font-family: Inter;
     font-size: 15px;
     font-weight: 800;
     line-height: 21px;
 }

 .trust-wrapper {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
     gap: 24px;
     max-width: 1156px;
     margin-bottom: 80px;
 }

 .hero::after {
     transform: rotate(-7deg);
     background-color: #FFF;
     width: 2332.12px;
     height: 312px;
 }


 .icons__list {
     display: flex;
     justify-content: space-between;
     gap: 64px;
     border-bottom: 1px solid #4E5D7C14;
     padding-bottom: 80px;
     position: relative;
 }

 .icons__item {
     display: flex;
     align-items: center;
     gap: 16px;
     font-family: Inter;
     font-size: 24px;
     font-weight: 700;
     line-height: 28.8px;
     text-align: left;
 }

 /* Content */

 .content {
     display: flex;
     position: relative;
     margin: 0 auto;
     border-bottom: 1px solid #4E5D7C14;
     padding: 80px;
     gap: 63px;

 }

 .content:nth-child(2n) {
     padding: 80px 0;
 }

 .content:last-child {
     gap: 190px;
 }

 .content__desc {
     display: flex;
     justify-content: center;
     flex-direction: column;
     gap: 24px;
     min-width: 500px;
 }


 .tabblepic {
     position: relative;
 }

 .sumpic {
     position: absolute;
     top: 220px;
     left: 170px;

 }



 .accounting h2 {
     color: #FFFFFF;
     padding: 120px 0 24px;
 }

 .accounting p {
     font-family: Inter;
     font-size: 18px;
     font-weight: 500;
     line-height: 25.2px;
     text-align: center;
     color: #FFFFFFCC;
     margin-bottom: 40px;
 }

 .grid {
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     margin-bottom: 64px;

 }

 .grid_1 {
     position: absolute;
     left: 118px;
 }

 .grid_2 {
     margin: 0;
     padding: 0;
 }

 .list {
     padding: 0;
     display: flex;
     text-align: left;
     justify-content: center;
     list-style: none;
     margin-bottom: 120px;
     font-family: Inter;
     font-size: 18px;
     font-weight: 500;
     line-height: 25.2px;
     color: #FFFFFFCC;
     margin-bottom: 120px;
     padding-bottom: 120px;
     gap: 24px;
 }

 .list h4 {
     font-family: Inter;
     font-size: 24px;
     font-weight: 700;
     line-height: 28.8px;
     text-align: left;
 }

 /* Accounting */

 .excel__list_item {
     display: flex;
     align-items: center;
     gap: 8px;
 }

 .excel__list {
     display: flex;
     flex-direction: column;
     gap: 24px;
     width: 448px;
 }

 /* Security */

 .security {
     display: flex;
     gap: 78px;
     margin-bottom: 80px;
     justify-content: center;
     align-items: center;
     border-bottom: 1px solid #4E5D7C14;
     padding-bottom: 80px;

 }

 .security__blocks {
     margin: 0;
     padding: 0;
     justify-content: center;
     align-items: center;
 }



 .security__blocks_img {
     padding-bottom: 20px;
 }

 .security__blocks_parag {
     font-family: Inter;
     font-size: 17px;
     font-weight: 500;
     line-height: 23.8px;
     text-align: left;
     color: #4E5D7C80;
 }

 /* Mobileversion */

 .mobileversion {
     margin-bottom: 120px;
 }

 .mobileversion__h2 {
     margin-bottom: 24px;
 }

 .mobileversion__text {
     margin-bottom: 40px;
     text-align: center;
     font-family: Inter;
     font-size: 17px;
     font-weight: 500;
     line-height: 23.8px;
     color: #4E5D7C80;
 }

 .mobileversion__img {
     display: block;
     margin-left: auto;
     margin-right: auto;
 }

 /* Supportclients */

 .supportclients {
     display: flex;
     gap: 74px;
     /* width: 1392px;
     height: 532px; */
     border-radius: 16px;
     background-color: #357EFE;
     margin-bottom: 80px;
 }

 .supportclients__image {
     padding-left: 95px;
 }

 .supportclients__info {
     padding-top: 80px;
 }

 .supportclients__h3 {
     font-family: Inter;
     font-size: 40px;
     font-weight: 600;
     line-height: 48px;
     text-align: left;
     color: #FFFFFF;
     margin-bottom: 24px;
 }

 .supportclients__text {
     font-family: Inter;
     font-size: 17px;
     font-weight: 500;
     line-height: 23.8px;
     text-align: left;
     color: #FFFFFFCC;
     margin-bottom: 40px;
 }

 .supportclients__social {
     display: flex;
     flex-direction: column;
     gap: 16px;
     margin-bottom: 40px;

     color: #FFFFFF;
 }

 .supportclients__social_list {
     display: flex;
     align-items: center;
     gap: 16px;
 }

 /* Comment */

 .comment__main {
     margin-bottom: 80px;
 }

 .comment {
     display: flex;
     margin: 0 auto;
     width: 1156px;
     gap: 124px;
     height: 438px;
     box-shadow: 0px 0px 32px 0px #4E5D7C29;
     border-radius: 8px;
     background-color: #357EFE;
 }

 .comment__h2 {
     margin-bottom: 40px;
 }

 .comment__text {
     font-family: Inter;
     font-size: 28px;
     font-weight: 700;
     line-height: 39.2px;
     text-align: left;
     color: #FFFFFF;
     padding-bottom: 50px;

 }

 .comment__name {
     font-family: Inter;
     font-size: 17px;
     font-weight: 700;
     line-height: 23.8px;
     text-align: left;
     color: #FFFFFF;
 }

 .comment__work {
     font-family: Inter;
     font-size: 17px;
     font-weight: 500;
     line-height: 23.8px;
     text-align: left;
     color: #FFFFFF;
 }

 .comment_info {
     padding-left: 104px;
     padding-top: 120px;
 }

 .comment__img {
     position: absolute;
     border-radius: 0 8px 8px 0;
     max-width: 100%;
 }

 .comemnt__img_arrow {
     position: relative;
     top: 170px;
     left: -580px;

 }

 .comemnt__img_arr {
     position: relative;
     top: 170px;
     left: 370px;
 }