/* Footer */

.footer {
    background-color: #1A1D25;
}

.footer__wrapper {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 60px 24px 100px;
}

.footer__menu {
    display: flex;
    gap: 24px 80px;
    margin: 0 auto;
    padding: 80px 0 80px;
}

.menu-small__item {
    color: #FFFFFF80;
    font-family: Inter;
    font-size: 17px;
    font-weight: 500;
    line-height: 140%;

}

.footer__menu_image {
    margin-bottom: 20px;
}

.menu-small__item a {
    color: #FFFFFF80;
}

.menu_descr {
    line-height: 23.8px;
}

.menu-small {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    padding: 0;
}

.footer_copywrite {
    font-family: Inter;
    font-size: 17px;
    font-weight: 500;
    line-height: 23.8px;
    text-align: left;
    color: #FFFFFFB2;
}

.social-icons {
    display: flex;
    justify-content: space-between;
}

.social-icons__icon {
    display: flex;
    gap: 24px;
}

@media (max-width: 860px) {
    .footer__menu {
        flex-direction: column;
        gap: 45px;
        padding: 0 0 40px;
    }

    .menu_descr {
        color: #FFFFFFB2;
    }

    .social-icons {
        flex-direction: column-reverse;
        gap: 24px;

    }

    .hr__line_footer {
        margin-bottom: 40px;
    }
}

@media (max-width: 640px) {
    .footer__social {
        flex-direction: column;
    }
}