.hero {
    display: flex;
    gap: 0;
    position: relative;
    margin-bottom: 80px;
}

.incline {
    position: relative;
    overflow: hidden;
}

.incline::before {
    transform: rotate(-7deg);
    background-color: var(--color-bg);
    width: 105vw;
    height: 500px;
    bottom: -250px;
    left: 0;
    right: 0;
    position: absolute;
    content: "";
}

.hero__h1 {
    width: 515px;
    height: 144px;
    top: 203px;
    left: 264px;
    gap: 0px;
    opacity: 0px;

    font-family: Inter;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    text-align: left;
    color: var(--color-bg-whitecard);
    margin-bottom: 40px;
}

.hero__left {
    display: flex;
    flex-direction: column;

}

.hero__mp {
    display: flex;
    width: 333.89px;
    height: 85px;
    gap: 22px;
    flex-wrap: wrap;
    margin-top: 80px;

}

.hero__right {
    margin-left: -60px;
}

.section__btn {
    width: 345px;
    height: 48px;
    margin-bottom: 64px;
}