body {
    margin: 0;
    background: linear-gradient(180deg, #374151 0%, #111827 100%);
    font-family: 'Roboto', sans-serif;
    text-align: center;

}

h1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    color: #fff;
    margin: 0 457px 30px 457px;
}

.myBlog {
    font-weight: 600;
    font-size: 18px;
    line-height: 22.63px;
    color: #eee;
}

.myBlog_box {
    width: 100px;
    height: 100px;
    border-radius: 3px;
    background: #4B5563;
}

a {
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
    color: #eee;
    text-decoration: none;
    list-style: none;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

input {
    border: 1px solid #1F293799;
    border-radius: 100px;
    width: 224px;
    height: 40px;
    background-color: #1F293799;
}

input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
    padding: 9px 128px 12px 49px;
}

.frameHeader {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.41px;
    color: #eee;
    margin: 0 630px 14px 630px;
    opacity: 60%;
}

.userInfo {
    margin: 0px 640px 28px 586px;
    display: flexbox;

}

.mainImg {
    margin: 0px 272px 69px 272px;
}

.name {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
}

.speciality {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #fff;
    opacity: 60%;
}

.mainText {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #fff;
    max-width: 708px;
    margin: 0 auto;
    text-align: left;
    padding: 70px;

}

.baseText {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    max-width: 708px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
}

.footInfo {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    text-align: center;
    max-width: 708px;
    margin: 0 auto;
    opacity: 60%;
    padding: 77px;
}

.header__wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 71px 180px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

.menu_item {
    padding: 0px 0px 0px 70px;
}

.header_search {
    display: flex;
    position: absolute;
    right: 372px;
    top: 85px;
}

.header_input {
    display: block;
}